  * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;

        }

        body {
            /* display: flex; */
            width: 104%;
            background-color: white
                /* overflow:hidden; */
                /* display:flex; */

        }

        h2 {
            position: absolute;
            color: white;
            display: inline-block;
            top: 30%;
            left: 10%;
            font-size: 16px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: 1px;
            
        }

        /* image{
    margin:0px ;
    /* padding: 0px; */
        /* position: absolute;  */

        .navbar {
            /* display: flex; */
            width: 100%;
            height: 65px;
            background-color: rgb(7, 8, 8);
            /* margin-top: 40px; */
            position:fixed;
            top:0px;
            left:0px;
            /* background:transparent ; */
            /* justify-content:space-evenly; */
        }

        .navbar ul {
            display: flex;
            /* padding:0px 30px ; */
            /* overflow: auto; */
            float: right;
            margin-right: 12px;
            margin-top: 15px;

        }

        .navbar ul li {
            margin: 0px 20px;
            list-style: none;
            /* line-height:2px ; */

        }

        .navbar ul li a {
            display: block;
            text-decoration: none;
            color: white;
            float: right;
            float: right;
            /* letter-spacing:0px ; */

            padding: 8px 10px;
            border-radius: 5px;
        }

        .navbar ul li a:hover {
            background-color: #c71b1b;
            transition: all 0.7s ease-in-out;

            /* size:20px ; */
        }

        .search-box {
            position: absolute;
            top: 10%;
            left: 35%;
            height: 40px;
            transform: translate(-100%, 10%);
            background-color: #444444;
            padding: 5px;
            border-radius: 50px;
        }

        .input-box {
            background: none;
            border: none;
            outline: none;
            line-height: 30px;
            width: 0px;
            float: left;
            font-size: 15px;
            transition: all 0.4s ease;
        }

        .btn {
            text-decoration: none;
            width: 30px;
            height: 30px;
            float: right;
            text-align: center;
            border-radius: 50px;
            padding: 6.5px;
            color: white;

        }

        .search-box:hover .input-box {
            width: 200px;
            transition: all 0.3% ease infinite;
            padding: 0px 8px;
            color: red;
        }

        .search-box:hover .btn {
            background-color: white;
            color: red;
            padding-right: 5px;
        }

        .search-box:hover .search-box {
            background-color: white;
            width: 200px;
        }



        header {
            height: 100vh;
            background-color: aqua;
            background: url("newmountain.jpg");
            background-size: cover;
            /* background-position: center ; */
            width: 97%;
        }

        .container {
            display: inline;
            display: block;
            width: 450px;
            height: 50px;
            position: relative;
            /* top:20%; */
            left: 40%;
            /* background-color: aqua; */

        }

        .container::before {
            content: '';
            position: absolute;
            top: 2%;
            right: 42%;
            height: 20px;
            width: 2px;
            background-color: #8d8b8b;
            animation: cursor 0.6s steps(22) infinite;
        }

        .container h1 {
            position: relative;
            /* text-transform:uppercase; */
            /* width:7ch; */
            white-space: nowrap;
            animation: moving 3s;
            color: #8d8b8b;
            ;
            /* animation-iteration-count:1; */
            overflow: hidden;
            font-size: 20px;
            /* border-right:2px solid red ; */
            /* width:7ch ; */
            /* border-right: 2px solid red ; */


        }

        @keyframes moving {
            0% {
                width: 7ch;
            }

            100% {
                width: 29ch;
            }



        }

        @keyframes cursor {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

        }

        .ashish {
            /* position:absolute; */
            background-color: aqua;
            width: 80%;
            /* top:95%; */
            height: 399px;
            /* display: flex; */
            padding: 0px 100px;

        }

        .box {
            /* position:absolute; */
            width: 300px;
            height: 400px;
            /* background-color: #c71b1b; */
            margin: 0px 0px;
            float: left;
            padding: 8px 60px;
            /* transition: all 0.8s; */


        }



        #aditya {
            background-color: #fdc45b;
            overflow: hidden;

        }

        #aditya:hover {
            /* height:420px;
    /* line-height:420px ; */
            transform: scale(1.1);
            /* rotate:360deg; */
            overflow: hidden;
            transition: all 0.3s;
            /* z-index:5; */
        }

        #aman {
            background-color: rgb(143, 143, 248);
        }

        #aman:hover {
            /* height:420px;
    /* line-height:420px ; */
            transform: scale(1.1);
            transition: all 0.3s;

            /* z-index:1 ; */
        }

        #manish {
            width: 300px;
            height: 400px;
            background-color: #3b5999;
            padding: 8px;
        }

        #manish:hover {
            transform: scale(1.1);
            transition: all 0.3s;

        }



        .main-box {
            background-color: bisque;
            width: 95%;
            height: 350px;
            /* padding:10px 0px ; */


        }

        .boxes {
            float: left;
            width: 50%;
            height: 350px;
            margin: 1px 0px;
            background-color: aquamarine;
            color: white;


        }

        #first {
            position: relative;
            background-color: #24b0b0;

        }

        #first:hover {
            background-color: #076969;
        }


        #second {
            background-color: #9f2243e3;
        }

        #second:hover {
            background-color: #670720e3;
        }

        #third {
            background-color: #664a7f;
        }

        #third:hover {
            background-color: #58426b;
        }

        #four {
            background-color: #e09c1e;
        }

        #four:hover {
            background-color: #956408;
        }

        #five {
            background-color: rgb(112, 47, 47);
        }

        #five:hover {
            background-color: rgb(62, 21, 21);
        }

        #six {
            background-color: rgb(8, 80, 8);
            box-sizing: border-box;
        }

        #six:hover {
            background-color: rgb(5, 54, 5);
        }

        #seven {
            background-color: white;
        }

        #eight {
            background-color: rgb(121, 108, 121);
        }

        #eight:hover {
            background-color: rgb(86, 76, 86);
        }

        #nine {
            background-color: #d59317;
        }

        #nine:hover {
            background-color: #956408;
        }

        #ten {
            background-color: white;
        }

        #four::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 110px;
            background-color: black;
            margin: 5px 5px;
        }

        #four::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 80px;
            background-color: black;
            margin: -50px -145px;
        }

        #five::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 110px;
            background-color: black;
            margin: 5px 5px;
        }

        #five::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 80px;
            background-color: black;
            margin: -50px -145px;
        }



        #nine::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 110px;
            background-color: black;
            margin: 5px 5px;
        }

        #nine::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 80px;
            background-color: black;
            margin: -50px -145px;
        }

        .wrapper {
            display: inline-flex;
            width: 95%;
            height: 150px;
            background-color: #4d4c4c;
            align-items: center;
            padding-left: 450px;


        }

        .wrapper .icon {
            position: relative;
            background-color: #908f8f;
            border-radius: 50%;
            padding: 15px;
            margin: 10px;
            margin-top: 0px;
            height: 50px;
            width: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            color: white;
        }

        .wrapper .tooltip {
            position: absolute;
            top: 0;
            background-color: #fff;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .wrapper .tooltip::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #fff;
            bottom: -3px;
            left: 42%;
            transform: translate(-50%) rotate (45deg);
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .wrapper .icon:hover .tooltip {
            top: -40px;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition: all 0.3s;
        }

        .wrapper .facebook:hover {
            background-color: #3b5999;
            color: white;
        }

        .wrapper .facebook:hover .tooltip {
            color: #3b5999;
        }

        .wrapper .twitter:hover {
            background-color: #10a8a8;
            color: white;
        }

        .wrapper .twitter:hover .tooltip {
            color: #10a8a8;
        }

        .wrapper .github:hover {
            background-color: black;
            color: white;
        }

        .wrapper .github:hover .tooltip {
            color: black;
        }

        .wrapper .pinterest:hover {
            background-color: #c71b1b;
            color: white;
        }

        .wrapper .pinterest:hover .tooltip {
            color: #c71b1b;
        }

        .wrapper .Youtube:hover {
            background-color: #c71b1b;
            color: white;
        }

        .wrapper .Youtube:hover .tooltip {
            color: #c71b1b;
        }

        .foot {
            display: inline-block;
            color: white;
            margin-top: 101px;
            margin-left: -462px;
            font-size: 20px;
        }

        h3 {
            font-size: 25px;
        }

        .asps {
            margin: 2px 1px;
        }

        .image-box {
            position: relative;
            width: 618px;
            background-color: none;
            top: 5%;
            display: block;
            height: 90%;
            left: 1%;

        }

        .page {
            position: absolute;
            top: 50%;
            left: 30px;
            color: white;
            text-align: center;
            align-items: center;
            box-sizing: border-box;
            opacity: 0;
        }

        .image-box:hover .page {
            top: 40%;
            opacity: 1;
            transition: all 0.3s;
        }

        .text {
            color: white;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 174px;
        }

        .paragraph {
            color: white;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 174px;
        }
